@primary : blue;
@white : #e7e7e7;
@blue : #3a5bce;

.roboto{
	font-family: 'Roboto', sans-serif;
}

.pt-sans{
	font-family: 'PT Sans', sans-serif;
}

html, body {
    height: 100%;
    .roboto();
}

/* override bootstrap style */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    .navbar-nav > li > a {
	    padding: 7px 15px;
		margin: 15px 5px;
	}
    .navbar-nav > li > a {
    	font-size: 12px;
	    color: @white;
	    text-transform: uppercase;
	    transition: 0.3s all;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		border: 1px solid transparent;
	    &:hover{
	    	color: @white;
	    	border: 1px solid @white;
	    }
	    &:focus{
	    	color: @white;
	    	border: 1px solid pink;
	    }
	    &.active{
	    	background-color: white;
	    	color: @blue;
	    }
	}
	.navbar-toggle {
	    border-color: transparent;
	    &:hover{
	    	background-color: transparent;
	    }
	    &:focus{
	    	background-color: transparent;
	    }
	    .icon-bar {
		    background-color: @white;
		}
	}
}
.navbar{
	margin-bottom: 0;
}


/* custom style */
.btn{
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 7px 15px;
	text-transform: uppercase;
	font-size: 13px;
	transition: 0.3s all;
}

.btn-default{
	border-color: @blue;
	color: @blue;

	&:hover{
		background-color: @blue;
		border-color: @blue;
		color: @white;
	}
}

.btn-primary{
	background-color: @blue;
	border-color: @blue;
	color: @white;

	&:hover{
		background-color: white;
		border-color: @blue;
		color: @blue;
	}
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: @blue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: @white;
	    display: block;
	    transition: 0.3s;
	    &:hover{
		    color: #f1f1f1;
		}
		&.offcanvas a{
			&:focus{
				color: #f1f1f1;
			}
		}
	}

	.closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}

}

.main{
	position: relative;
	min-height: 70vh;
	background-position: top;
	background-size: cover;
	padding-top: 35vh;

	h1.title{
		color: @white;
		font-weight: 600;
		.pt-sans();
	}

	p{
		color: @white;
	}

	.iphone{
		position: absolute;
		top: -120px;
		right: 0;
		width: 270px;
	}

	.iphone-screen{
		width: 205px;
		position: absolute;
		z-index: 1;
		right: 0;
		top: 0;
	}
	.carousel-inner {
	    position: absolute;
		width: 100%;
		height: 360px;
		top: -69px;
		right: 19px;
		width: 205px;
	}

	.submit-form{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;

		h4{
			font-weight: 600;
			.pt-sans();
			margin-bottom: 25px;
		}

		::-moz-placeholder{
			color: #e7e7e7;
		}
		::-webkit-input-placeholder{
			color: #e7e7e7;
		} 
		:-moz-placeholder{
			color: #e7e7e7;
		}

		.panel-default {
		    border-color: transparent;
		    -webkit-box-shadow: 0 4px 8px rgba(164, 159, 159, 0.1);
			box-shadow: 0 4px 8px rgba(164, 159, 159, 0.1);

			.form-control{
				border: 1px solid #e7e7e7;
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
				box-shadow: inset 0 1px 1px rgba(0,0,0,0);


			}

			.checkbox{
				font-size: 12px;

				label{
					line-height: 22px;

					input{
						margin-right: 10px;
					}
				}
			}
		}

	}

}

.second{
	padding: 20px 0;

	.btn{
		margin-right: 20px;
		margin-bottom: 20px;
		float: left;
		span{
			margin-right: 5px;
		}
	}
}

@media screen and (min-width: 240px) {
	.navbar-brand {
		padding: 15px 5px;
		img
			{ 
				width: 60%; 
			}
	}
	.main{
		.submit-form{
			position: relative;
		}
		.iphone{
			top: 100px;
			right: 10px;
		}
		.carousel-inner{
			top: 150px;
			right: 29px;
		}
	}
	.btn{
		font-size: 11px;
	}
}

@media screen and (min-width: 480px) {
	.navbar-brand {
		padding: 15px 15px;
		img
			{ 
				width: 80%; 
			}
	}
	.main{
		.submit-form{
			position: relative;
		}

		.iphone{
			top: -120px;
			right: 0;
		}

		.carousel-inner {
			top: -69px;
			right: 19px;
		}
	}

	.btn{
		font-size: 13px;
	}

	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}
}

@media screen and (min-width: 780px) {
	.navbar-brand {
		padding: 15px 15px;
		img
			{ 
				width: 100%; 
			}
	}
	.main{
		.submit-form{
			position: absolute;
		}

		.iphone{
			top: -120px;
			right: 0;
		}

		.carousel-inner {
			top: -69px;
			right: 19px;
		}
	}
}