<div class="main" style="background-image: linear-gradient( rgba(51, 11, 255, 0.8), rgba(92, 78, 165, 0.9) ), url('{{ background }}');">
	<div class="container">
		<div class="row">
	    	<div class="col-md-10 col-md-offset-1">
	    		<div class="row">
	    			<div class="col-md-7">
	    				<h1 class="title">Meet BestApp<br>The new world for chat</h1>
			    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    		consequat.</p>
	    			</div>
	    			<div class="col-md-5">
	    				<div class="phone">
	    					<img class="iphone" src="lib/img/bg-header-slider.png">
	    					<div class="screen">
	    						<div class="carousel slide" data-ride="carousel">
								  <div class="carousel-inner" role="listbox">
								    <div class="item active">
								      <img class="iphone-screen" src="lib/img/slide_1.jpg">
								    </div>
								    <div class="item">
								      <img class="iphone-screen" src="lib/img/slide_2.jpg">
								    </div>
								  </div>
								</div>
		    				</div>
	    				</div>	    				
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
<div class="second">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<div class="button-rows">
					<a href="#" class="btn btn-primary">Learn More</a>
					<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download App</a>
				</div>
			</div>
		</div>
	</div>
</div>