<div class="main" style="background-image: linear-gradient( rgba(51, 11, 255, 0.8), rgba(92, 78, 165, 0.9) ), url('{{ background }}');">
	<div class="container">
		<div class="row">
	    	<div class="col-md-10 col-md-offset-1">
	    		<div class="row">
	    			<div class="col-sm-7">
	    				<h1 class="title">Meet BestApp<br>The new world for chat</h1>
			    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    		consequat.</p>
	    			</div>
	    			<div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2">
	    				<div class="submit-form">
	    					<div class="panel panel-default">
							  <div class="panel-body">
							  	<h4>Sign Up!</h4>
							    <form>
							    	<div class="form-group">
									    <input type="text" class="form-control" placeholder="Your Name">
									</div>
									<div class="form-group">
									    <input type="email" class="form-control" placeholder="Email Address *" required>
									</div>
									<div class="form-group">
									    <input type="text" class="form-control" placeholder="Phone Number">
									</div>
									<div class="checkbox">
									    <label>
									    	<input type="checkbox" required> I agree to the <a href="#">terms and conditions</a>
										</label>
									</div>
									<div class="form-group">
										<div class="text-center">
											<br>
											<button type="submit" class="btn btn-default">Send Me This App!</button>
										</div>
									</div>								  		
								</form>
							  </div>
							</div>
	    				</div>    				
	    			</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
<div class="second">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-1">
				<div class="button-rows">
					<a href="#" class="btn btn-primary">Learn More</a>
					<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download App</a>
				</div>
			</div>
		</div>
	</div>
</div>